<!-- Make a card view for posts -->
<div class="mdl-card mdl-cell mdl-cell--8-col">
    <div class="mdl-card__media mdl-color-text--grey-50"
        style="{{with .Params.cardthumbimage}}background-image: url('{{ . | relURL }}');{{end}} {{with .Params.cardbackground}}background-color:{{.}};{{end}}">
        <h3><a href="{{ .RelPermalink }}" {{ with .Params.cardtitlecolor }}style="color:{{.}};"
                {{end}}>{{ title .Title }}</a></h3>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        {{ .Summary }}
    </div>
    <div class="hmdl-page-meta mdl-card__supporting-text mdl-color-text--grey-600">
        <div>
            <strong><a href="{{ .Params.author.website }}">{{ .Params.author.name }}</a></strong>
            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
        </div>
    </div>
</div>